<div class="availability-container">
  <h2>Gerenciar Disponibilidade</h2>
  <form [formGroup]="availabilityForm" (ngSubmit)="addAvailability()">
    <mat-form-field appearance="fill">
      <mat-label>Data</mat-label>
      <input matInput type="date" formControlName="date">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Horário</mat-label>
      <input matInput formControlName="time">
    </mat-form-field>
    <button mat-button type="submit" [disabled]="availabilityForm.invalid">Adicionar</button>
  </form>
  <mat-list>
    <mat-list-item *ngFor="let availability of availabilities">
      {{ availability.date }} às {{ availability.time }}
    </mat-list-item>
  </mat-list>
</div>
