<div class="container">
  <form [formGroup]="dateForm">
    <mat-form-field appearance="outline">
      <mat-label>Selecione a Data</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </form>
  <div class="slots-list">
    <app-appointment-card *ngFor="let slot of filteredSlots" [slot]="slot" (book)="bookSlot($event)"></app-appointment-card>
    <p *ngIf="!filteredSlots.length">Nenhum horário disponível para esta data.</p>
  </div>
</div>