.container {
  padding: 16px;
}
.filter-container {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
  flex-wrap: wrap;
/* Permite quebra de linha em telas menores */
}

.filter-container mat-form-field {
  flex: 1;
  min-width: 150px; /* Evita campos muito estreitos */
}

.professional-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

mat-card {
  display: flex;
  flex-direction: column;
}

mat-card-actions {
  margin-top: auto; /* Garante que o botão fique na parte inferior do card */
  display: flex;
  justify-content: flex-end;
}