<div class="explore-container">
  <h2>Explorar Profissionais</h2>
  <form [formGroup]="searchForm" (ngSubmit)="search()">
    <mat-form-field appearance="fill">
      <mat-label>Pesquisar Serviços</mat-label>
      <input matInput formControlName="query">
    </mat-form-field>
    <button mat-button type="submit">Pesquisar</button>
  </form>
  <div class="professional-list">
    <mat-card *ngFor="let service of services">
      <mat-card-title>{{ service.name }}</mat-card-title>
      <mat-card-content>{{ service.description }}</mat-card-content>
    </mat-card>
  </div>
</div>
