<div class="container">
  <div class="filter-container">
    <mat-form-field appearance="outline">
      <mat-label>Especialidade</mat-label>
      <mat-select formControlName="specialty">
        <mat-option value="">Todas</mat-option>
        <mat-option *ngFor="let specialty of specialties" [value]="specialty">{{ specialty }}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="outline">
      <mat-label>Nome</mat-label>
      <input matInput formControlName="name">
    </mat-form-field>
  </div>
  <div class="professional-list">
    <mat-card *ngFor="let professional of filteredProfessionals">
      <mat-card-title>{{ professional.name }}</mat-card-title>
      <mat-card-content>
      <p>Especialidade: {{ professional.specialty }}</p>
        <p>Cidade: {{ professional.city }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="showDetails(professional.id)">Detalhes</button>
      </mat-card-actions>
      </mat-card>
    </div>
</div>